.flex_cont {
    display: flex;
    justify-content: center;
}
.flex_cont2{
    display: flex;
    justify-content: center;
}
.button {
    min-width: 50px;
    min-height: 50px;
    font-size: 50px;
    text-align: center;
    background-color: aqua;
    margin: 10px;
}   
.button:active{
    background-color: black;
}